<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">POC</a>
        <ul class="nav">
            <li data-match-route="/"><a href="">Home</a></li>
            <li data-match-route="/overview.*"><a href="">Overview</a></li>
        </ul>
    </div>
</div>